# local .gitignore patterns
node_modules
*.lock
.vscode
.idea
coverage
vercel_token
.env
.env.local
.env.*.local
*.pnp.*
.aws
.amplify
.nb
.cache
.config
.npm
.yarn
.pnpm
.pnpm-*
.ssh
.ssh-*
*.pem
.wakatime
.wrangler
wrangler.toml
.bash_history
.bash_sessions
.IdentityService
.jekyll-cache
.local
.node-gyp
.deno
.degit
.svelte-kit
.next
.logs
build
out
dist

