{
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "filepath": "**/*.{js,jsx,cjs,mjs,ts,tsx,css,scss}",
    "htmlWhitespaceSensitivity": "css",
    "pluginSearchDirs": ["."],
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "consistent",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": false
  }
